{% extends "_partials/base.html" %}
{% load static%}
{% block title %} - Home{% endblock %}
{% block extra_head%}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Bem vindo, {{user}}</h1>
    
    <h2 class="mb-4 text-center">📊 Lista de Eleições em Andamento</h2>

        {% include '_partials/card_dash.html' with eleicoes=eleicoes_andamento %}
    <h2 class="mb-4 mt-4  text-center">📊 Lista de Eleições Finalizadas</h2>
        {% include '_partials/card_dash.html' with eleicoes=eleicoes_finalizadas %}

</div>
{% endblock %}
